<a href="https://colab.research.google.com/github/kokoback/python-study/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, world! 출력
print 함수로 Hello, world!를 출력합니다.

In [ ]:
print('Hello, world!')

Hello, world!

# == , != 와 is, is not 의 차이점
== 과 != 는 값 자체를 비교하고, is 와 is not은 객체를 비교한다.

is 는 True나 False, None 과 비교할 때만 사용하자!

In [ ]:
print(3 == 3.0)
print(3 is 3.0)

True
False

## 객체가 같은지 다른지 비교하기
=, !=는 값 자체를 비교하고, is, is not은 객체(object)를 비교합니다

In [ ]:
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

# 정수 계산
파이썬 2에서 5 / 2는 2.5가 아닌 2가 나오는데, 정수끼리 나눗셈 결과는 정수가 나오도록 정했기 때문입니다. 

하지만 파이썬 3는 정수끼리 나눗셈을 해도 실수가 나옵니다.

In [ ]:
print(5/2)
print(4/2)

2.5
2.0

## 나눗셈 후 소수점 이하를 버리는 // 연산자
//은 버림 나눗셈(floor division)이라고 부르며 나눗셈의 결과에서 소수점 이하는 버립니다.

실수에 // 연산자를 사용하면 결과는 실수가 나오며 소수점 이하는 버립니다. 따라서 결과는 항상 .0으로 끝납니다.

In [ ]:
print(5//2)
print(4//2)
print(5.0//2)
print(4.0//2)

2
2
2.0
2.0

## 값을 정수로 만들기

*   int(숫자)
*   int(계산식)
*   int('문자열')

In [ ]:
print(int(3.3))
print(int(5/2))
print(int('10'))

3
2
10

# 두 변수의 값을 바꾸려면

In [ ]:
x, y = 10, 20
print('x=', x)
print('y=', y)
x, y = y, x
print('x=', x)
print('y=', y)

x= 10
y= 20
x= 20
y= 10

# 객체의 자료형 알아내기
type 함수 사용

예) type(1.0)

In [ ]:
type(1.0)

float

# 한 번에 여러 개 입력받기

```
a, b = input().split()                # 값 두 개를 입력받아 변수 두 개에 문자열로 저장
a, b = map(int, input().split())      # 값 두 개를 입력받아 변수 두 개에 정수로 저장
a, b = map(float, input().split())    # 값 두 개를 입력받아 변수 두 개에 실수로 저장
```

# 단락 평가
단락 평가는 첫 번째 값만으로 결과가 확실할 때 두 번째 값은 확인(평가)하지 않는 방법을 말합니다. 즉, and 연산자는 두 값이 모두 참이라야 참이므로 첫 번째 값이 거짓이면 두 번째 값은 확인하지 않고 바로 거짓으로 결정합니다.

```
# 첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True)     # False
print(False and False)    # False
```

or 연산자는 두 값 중 하나만 참이라도 참이므로 첫 번째 값이 참이면 두 번째 값은 확인하지 않고 바로 참으로 결정합니다.
```
# 첫 번째 값이 참이므로 두 번째 값은 확인하지 않고 참으로 결정
print(True or True)     # True
print(True or False)    # True
```

True and 'Python'의 결과는?
```
>>> True and 'Python'
'Python'
```
문자열 'Python'도 불로 따지면 True라서 True and True가 되어 True가 나올 것 같지만 'Python'이 나왔습니다. 왜냐하면 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환하기 때문입니다. 따라서 논리 연산자는 무조건 불을 반환하지 않습니다.
다음과 같이 마지막으로 단락 평가를 실시한 값이 불이면 불을 반환하게 됩니다.
```
>>> 'Python' and True
True
>>> 'Python' and False
False
```
여기서는 문자열 'Python'을 True로 쳐서 and 연산자가 두 번째 값까지 확인하므로 두 번째 값이 반환됩니다. 만약 다음과 같이 and 연산자 앞에 False나 False로 치는 값이 와서 첫 번째 값 만으로 결과가 결정나는 경우에는 첫 번째 값이 반환됩니다.
```
>>> False and 'Python'
False
>>> 0 and 'Python'    # 0은 False이므로 and 연산자는 두 번째 값을 평가하지 않음
0
```
or 연산자도 마찬가지로 마지막으로 단락 평가를 실시한 값이 반환됩니다. 다음은 or 연산자에서 첫 번째 값만으로 결과가 결정되므로 첫 번째 값이 반환됩니다.
```
>>> True or 'Python'
True
>>> 'Python' or True
'Python
```
만약 두 번째 값까지 판단해야 한다면 두 번째 값이 반환됩니다.
```
>>> False or 'Python'
'Python'
>>> 0 or False
False
```

# 문자열의 길이 구하기

In [ ]:
hello = 'Hello, world!'
len(hello)

13

## 한글 문자열 길이 구하기

In [ ]:
hello = '안녕하세요'
len(hello)

5

# UTF-8 문자열의 바이트 수 구하기

In [ ]:
hello = '안녕하세요'
len(hello.encode('utf-8'))

15

In [ ]:
hello = 'hello'
len(hello.encode('utf-8'))

5

# 시퀀스 객체


*   리스트
*   튜플
*   ranage
*   문자열

## 특정 값이 있는지 확인하기
*   값 in 시퀀스객체
```
>>> a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
>>> 30 in a
True
>>> 100 in a
False
```
*   값 not in 시퀀스객체
```
>>> a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
>>> 100 not in a
True
>>> 30 not in a
False
```
*   튜플, range, 문자열
```
>>> 43 in (38, 76, 43, 62, 19)
True
>>> 1 in range(10)
True
>>> 'P' in 'Hello, Python'
True
```

## 요소에 값 할당하기
```
>>> a = [0, 0, 0, 0, 0]    # 0이 5개 들어있는 리스트
>>> a[0] = 38
>>> a[1] = 21
>>> a[2] = 53
>>> a[3] = 62
>>> a[4] = 19
>>> a
[38, 21, 53, 62, 19]
>>> a[0]
38
>>> a[4]
19
```
시퀀스 자료형 중에서 튜플, range, 문자열은 저장된 요소를 변경할 수 없습니다.(읽기 전용)
```
>>> b = (0, 0, 0, 0, 0)
>>> b[0] = 38
Traceback (most recent call last):
  File "<pyshell#5>", line 1, in <module>
    b[0] = 38
TypeError: 'tuple' object does not support item assignment 
>>> r = range(0, 10, 2)
>>> r[0] = 3
Traceback (most recent call last):
  File "<pyshell#6>", line 1, in <module>
    r[0] = 3
TypeError: 'range' object does not support item assignment 
>>> hello = 'Hello, world!'
>>> hello[0] = 'A'
Traceback (most recent call last):
  File "<pyshell#7>", line 1, in <module>
    hello[0] = 'A'
TypeError: 'str' object does not support item assignment 
```